

.clear {
	clear: both;
	float: none;
	}
	
li.clear {
	height: 0;
	width: 0;
	margin: 0;
	padding: 0;
	}

.hide {
	display: none;
	}	

.show {
	display: block;
	}

	
body {
	font-size: 100%;
	background-color: #000;
	}
	
#container {
	background-color: #eee;
	}	
		
	header {
		margin-bottom: 10%;
		background-color: #5c5c5c;
		
		#main_logo {
			float: left;
			max-width: 40%;
			margin-right: 10%;
			}

		h1 {
			padding-top: 3%;
			}
		
		nav {
			clear: both;
			
			li {
				float: left;
				width: 33.33%;
				text-align: center;

				a {
					display: block;
					padding: 5% 0;
					font-size: 90%;
					vertical-align: center;
					text-decoration: none;
					border-left: 1px solid #5c5c5c;
					border-bottom: 1px solid #5c5c5c;
					background-color: #ccc;
					}
			}
			li.even,
			li.even + li	{
				width: 50%;
				
				a {
					padding: 3.5% 0;		
					}
			}

			li.drop_down {
				position: relative;
				top: 0;
				left: 0;
				
				ul {
					position: absolute;
					top: 100%;
					right: -1px;
					width: 80%;

		
					li {
						float: none;
						width: 100%;
						
						a {
							border-right: 1px solid #5c5c5c;
						}
					}

				}	
			}	
			
			
							
			
			} /* close nav */
			
			
			
			
		
	}  /* close header */

	footer {


	
	}			
	
	
@media screen and (min-width: 28.75em) {

	header {
		
		h1 {
				padding-top: 2%;	
				font-size: 130%
			}
		}

} /* (min-width: 28.75em)  */		
	


@media screen and (min-width: 34em) {


} /* (min-width: 34em) */		
	

	
@media screen and (min-width: 40.5em) {

	#container {
		width: 90%;
		margin: 0 auto;
		}	
}
		
@media screen and (min-width: 60.5em) {		

	#container {

		}	
		
	header {

		background-color: #5c5c5c;
		
		#main_logo {
			max-width: 100%;
			margin-right: 10%;
			}

		h1 {
			padding-top: 3%;
			}
		
		nav {
			clear: both;
			
			li {
				float: left;
				width: 33.33%;
				text-align: center;
				vertical-align: center;
				a {
					display: block;
					padding: 5% 0;
					font-size: 90%;
					vertical-align: center;
					text-decoration: none;
					border-left: 1px solid #5c5c5c;
					background-color: #ccc;
					}
				}
			
			}
		
	}  /* close header */

		
}	/* (min-width: 40.5em) */			


		
		